annotated-doc
anyio
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
jinja2
kernels
kiwisolver
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
networkx
numpy
packaging
pandas
pillow
pyarrow
pygments
pyparsing
python-dateutil
pyyaml
regex
requests
rich
rustbpe
setuptools
shellingham
six
sympy
tiktoken
torch
tqdm
typer
typing-extensions
tzdata
urllib3